In [27]:
import pickle
import datetime
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [28]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
data = data.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [30]:
label_encoder_gender = LabelEncoder()
data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [31]:
onehot_encode_geo = OneHotEncoder(handle_unknown='ignore')
encoded_geo = onehot_encode_geo.fit_transform(data[["Geography"]]).toarray()
encoded_geo_df = pd.DataFrame(encoded_geo, columns=onehot_encode_geo.get_feature_names_out(['Geography']))
encoded_geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [32]:
data = pd.concat([data.drop("Geography", axis=1), encoded_geo_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [33]:
X = data.drop("EstimatedSalary", axis=1)
y = data["EstimatedSalary"]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [36]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [37]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [38]:
y_train

9254    179093.26
1561    195978.86
1670     85891.02
6087    153080.40
6669     39488.04
          ...
5734     69381.05
5191       706.50
5390     92220.12
860      97508.04
7270     53581.14
Name: EstimatedSalary, Length: 8000, dtype: float64

In [39]:
y_test

6252     41788.37
4684    146379.30
1731     58561.31
4742    170679.74
4521    114669.79
          ...
6412     45038.29
8285    109895.16
7853     33373.26
1095     76755.99
6929    107674.30
Name: EstimatedSalary, Length: 2000, dtype: float64

In [40]:
with open("label_encoder_gender.pkl", "wb") as file:
    pickle.dump(label_encoder_gender, file)

with open("onehot_encoder_geo.pkl", "wb") as file:
    pickle.dump(onehot_encode_geo, file)

with open("scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

In [41]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [42]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

c:\Users\andrew.labib\AppData\Local\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [43]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [44]:
log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [45]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=20, restore_best_weights=True)

In [46]:
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100707.0469 - mae: 100707.0469 - val_loss: 98516.6641 - val_mae: 98516.6641
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100320.4141 - mae: 100320.4141 - val_loss: 96962.1328 - val_mae: 96962.1328
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98626.6094 - mae: 98626.6094 - val_loss: 92993.9531 - val_mae: 92993.9531
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 93494.1484 - mae: 93494.1484 - val_loss: 86428.4766 - val_mae: 86428.4766
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 86981.4922 - mae: 86981.4922 - val_loss: 77987.6016 - val_mae: 77987.6016
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 77646.1953 - mae: 77646.1953 - val_loss: 69205.0000 - val_mae: 69205.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 68150.0156 - mae: 68150.0156 - val_loss: 61727.5586 - val_mae: 61727.5586
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 61042.1641 - mae: 61042.1641 - val_loss: 56323.3633 - val_mae: 56323.3633
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55731.0000 - mae: 55731.0000 - val_loss: 53191.7383 - val_mae: 53191.7383
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52664.6250 - mae: 52664.6250 - val_loss: 51774.2617 - val_mae: 51774.2617
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51208.1641 - mae: 51208.1641 - val_loss: 51160.6016 - val_mae: 51160.6016
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51129.0117 - mae: 51129.0117 - val_loss: 50861.4648 - val_mae: 50861.4648
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49856.4023 - mae: 49856.4023 - val_loss: 50702.2344 - val_mae: 50702.2344
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49954.2188 - mae: 49954.2188 - val_loss: 50608.6133 - val_mae: 50608.6133
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50509.1211 - mae: 50509.1211 - val_loss: 50562.8516 - val_mae: 50562.8516
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49946.4883 - mae: 49946.4883 - val_loss: 50519.1875 - val_mae: 50519.1875
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50069.7188 - mae: 50069.7188 - val_loss: 50480.6758 - val_mae: 50480.6758
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49824.2891 - mae: 49824.2891 - val_loss: 50450.9219 - val_mae: 50450.9219
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49826.6523 - mae: 49826.6523 - val_loss: 50424.7266 - val_mae: 50424.7266
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49796.2031 - mae: 49796.2031 - val_loss: 50414.4336 - val_mae: 50414.4336
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50443.4531 - mae: 50443.4531 - val_loss: 50388.5586 - val_mae: 50388.5586
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49697.9219 - mae: 49697.9219 - val_loss: 50362.7031 - val_mae: 50362.7031
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49761.5117 - mae: 49761.5117 - val_loss: 50353.3672 - val_mae: 50353.3672
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49907.9844 - mae: 49907.9844 - val_loss: 50351.0352 - val_mae: 50351.0352
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49799.7578 - mae: 49799.7578 - val_loss: 50344.1797 - val_mae: 50344.1797
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50008.5391 - mae: 50008.5391 - val_loss: 50338.7773 - val_mae: 50338.7773
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49456.2891 - mae: 49456.2891 - val_loss: 50335.1914 - val_mae: 50335.1914
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49809.3906 - mae: 49809.3906 - val_loss: 50332.4570 - val_mae: 50332.4570
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49924.9883 - mae: 49924.9883 - val_loss: 50330.1602 - val_mae: 50330.1602
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49732.5781 - mae: 49732.5781 - val_loss: 50325.8438 - val_mae: 50325.8438
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49609.2969 - mae: 49609.2969 - val_loss: 50329.6758 - val_mae: 50329.6758
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50138.8086 - mae: 50138.8086 - val_loss: 50322.2812 - val_mae: 50322.2812
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49766.5000 - mae: 49766.5000 - val_loss: 50331.2188 - val_mae: 50331.2188
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49431.7812 - mae: 49431.7812 - val_loss: 50328.6172 - val_mae: 50328.6172
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49209.6211 - mae: 49209.6211 - val_loss: 50334.4727 - val_mae: 50334.4727
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49692.7188 - mae: 49692.7188 - val_loss: 50317.0273 - val_mae: 50317.0273
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49488.4414 - mae: 49488.4414 - val_loss: 50317.7344 - val_mae: 50317.7344
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49432.1719 - mae: 49432.1719 - val_loss: 50322.9531 - val_mae: 50322.9531
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49396.8242 - mae: 49396.8242 - val_loss: 50323.9688 - val_mae: 50323.9688
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49597.9883 - mae: 49597.9883 - val_loss: 50316.5195 - val_mae: 50316.5195
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49491.0859 - mae: 49491.0859 - val_loss: 50318.2031 - val_mae: 50318.2031
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50273.4258 - mae: 50273.4258 - val_loss: 50313.6055 - val_mae: 50313.6055
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49175.8867 - mae: 49175.8867 - val_loss: 50310.0742 - val_mae: 50310.0742
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49499.7266 - mae: 49499.7266 - val_loss: 50317.2344 - val_mae: 50317.2344
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49239.8086 - mae: 49239.8086 - val_loss: 50326.6406 - val_mae: 50326.6406
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49680.3789 - mae: 49680.3789 - val_loss: 50316.5312 - val_mae: 50316.5312
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49323.6406 - mae: 49323.6406 - val_loss: 50313.5156 - val_mae: 50313.5156
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49540.9492 - mae: 49540.9492 - val_loss: 50316.4766 - val_mae: 50316.4766
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49413.8242 - mae: 49413.8242 - val_loss: 50326.7461 - val_mae: 50326.7461
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49262.3086 - mae: 49262.3086 - val_loss: 50328.2891 - val_mae: 50328.2891
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49670.6602 - mae: 49670.6602 - val_loss: 50328.1523 - val_mae: 50328.1523
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49606.1797 - mae: 49606.1797 - val_loss: 50331.7422 - val_mae: 50331.7422
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48673.7109 - mae: 48673.7109 - val_loss: 50332.6836 - val_mae: 50332.6836
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49300.1875 - mae: 49300.1875 - val_loss: 50334.8633 - val_mae: 50334.8633
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49753.7852 - mae: 49753.7852 - val_loss: 50344.2188 - val_mae: 50344.2188
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48596.6289 - mae: 48596.6289 - val_loss: 50344.5312 - val_mae: 50344.5312
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48987.0117 - mae: 48987.0117 - val_loss: 50336.2148 - val_mae: 50336.2148
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49517.7109 - mae: 49517.7109 - val_loss: 50336.1133 - val_mae: 50336.1133
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49475.0312 - mae: 49475.0312 - val_loss: 50343.6328 - val_mae: 50343.6328
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49361.8008 - mae: 49361.8008 - val_loss: 50345.1250 - val_mae: 50345.1250
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49222.0703 - mae: 49222.0703 - val_loss: 50336.3086 - val_mae: 50336.3086
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49299.8398 - mae: 49299.8398 - val_loss: 50332.5391 - val_mae: 50332.5391
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49766.0469 - mae: 49766.0469 - val_loss: 50335.2891 - val_mae: 50335.2891

In [47]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [49]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 29852), started 0:00:55 ago. (Use '!kill 29852' to kill it.)

In [52]:
test_loss, test_mae = model.evaluate(X_test, y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51162.1250 - mae: 51162.1250

In [53]:
print(f"Test MAE is : {test_mae}")
print(f"Test Loss is : {test_loss}")

Test MAE is : 50310.07421875
Test Loss is : 50310.07421875

In [54]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.